DEPLOY_HOST=silkworm-server
DEPLOY_USER=legenda
DEPLOY_PORT=22
DEPLOY_PATH=/var/www/silkworm-frontend-v1/shared/admin
DEPLOY_SSH_KEY=C:/Users/Mikhail/.ssh/silkworm
DEPLOY_PUBLIC_LINK=/var/www/silkworm-frontend-v1/current/admin
